.header {
  background: #282c34;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* add shadow bottom */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}

.logo {
  padding: 0;
  text-decoration: none;
}

.logoText {
  font-family: "Gugi";
  margin: 0;
  font-size: 50px;
}

.headerRight {
  display: flex;
  height: 40px;
  flex-direction: row;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-right: 20px;
}

.link {
  color: white;
  opacity: 0.5;
  font-family: "Gugi";
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}

.link:hover {
  opacity: 1;
}

.main {
  background-color: #e8e9eb;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  margin-top: 15px;
}

.footer {
  text-align: center;
  padding: 1rem;
  background: #c4c4c5;
  color: #6c757d;
}

.contact {
  padding-left: 20px;
  border-left: #b2b7c1 solid 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 700px) {
  .logoText {
    font-size: 30px;
  }

  .contact {
    display: none;
  }

  .nav {
    margin-right: 0;
  }
}
