.content {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #d6d7d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Add shadow on top */
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
}

.title {
  margin: 0;
  margin-top: 15px;
  font-size: 50px;
  font-family: "Gugi";
  color: #282c34;
}

.subContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card {
  background-color: #f6f6f6;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-bottom: 0;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.phone {
  width: 300px;
  height: 300px;
  background-color: black;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.phoneNotch {
  position: relative;
  top: -267px;
  left: 85px;
  width: 140px;
  height: 27px;
  border-radius: 100px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phoneSpeaker {
  width: 50%;
  height: 0;
  border-top: #4d5460 1px dotted;
}

.phoneCamera {
  width: 20px;
  height: 20px;
  margin-top: 3px;
  border-radius: 100px;
  background-color: rgb(31, 31, 31);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phoneCameraInner {
  width: 3px;
  height: 3px;
  border-radius: 100px;
  background-color: #282c34;
}

.phoneInner {
  position: relative;
  top: 15px;
  left: 15px;
  width: 270px;
  height: 285px;
  padding: 20px;
  background-color: #2b2f36;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.laptop {
  width: 600px;
  height: 300px;
  background-color: black;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.laptopNotch {
  position: relative;
  top: -285px;
  left: 225px;
  width: 150px;
  height: 35px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.laptopCamera {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: rgb(31, 31, 31);
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.laptopCameraInner {
  width: 3px;
  height: 3px;
  border-radius: 100px;
  background-color: #282c34;
}

.laptopInner {
  position: relative;
  top: 15px;
  left: 15px;
  width: 570px;
  height: 285px;
  padding: 20px;
  background-color: #2b2f36;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
