.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: scroll;
}

.contentLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}

.contentCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text {
  font-family: "Gugi";
  font-size: 35px;
  color: #282c34;
}
