.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: scroll;
}

.contentLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}

.contentCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.contentRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text {
  font-family: "Gugi";
  font-size: 35px;
  color: #282c34;
}

.imagePaul {
  min-width: 400px;
  min-height: 530px;
  animation: fadeIn 1.5s ease-out forwards; /* Animate to visible */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.imagePaul.animateOut {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(200px);
  }
}

.headOpenTag {
  position: relative;
  right: -120px;
  margin-top: 100px;
  opacity: 1;
  animation: headOpenTagAnimationIn 1.5s ease-in-out forwards;
}

@keyframes headOpenTagAnimationIn {
  from {
    opacity: 0;
    right: 400px;
  }

  to {
    opacity: 1;
    right: -120px;
  }
}

.headOpenTag.animateOut {
  animation: headOpenTagAnimationOut 1s ease-in-out forwards;
}

@keyframes headOpenTagAnimationOut {
  to {
    opacity: 0;
    right: 400px;
  }
}

.headCloseTag {
  position: relative;
  left: -130px;
  margin-top: 100px;
  animation: headCloseTagAnimationIn 1.5s ease-in-out forwards;
}

@keyframes headCloseTagAnimationIn {
  from {
    opacity: 0;
    left: 400px;
  }
  to {
    opacity: 1;
    left: -130px;
  }
}

.headCloseTag.animateOut {
  animation: headCloseTagAnimationOut 1s ease-in-out forwards;
}

@keyframes headCloseTagAnimationOut {
  to {
    opacity: 0;
    left: 400px;
  }
}

.bodyOpenTag {
  position: relative;
  margin-top: 170px;
  right: 0;
  animation: bodyOpenTagAnimationIn 1.5s ease-in-out forwards;
}

@keyframes bodyOpenTagAnimationIn {
  from {
    opacity: 0;
    right: 400px;
  }

  to {
    opacity: 1;
    right: 0;
  }
}

.bodyOpenTag.animateOut {
  animation: bodyOpenTagAnimationOut 1s ease-in-out forwards;
}

@keyframes bodyOpenTagAnimationOut {
  to {
    opacity: 0;
    right: 400px;
  }
}

.bodyCloseTag {
  position: relative;
  left: 0;
  margin-top: 170px;
  animation: bodyCloseTagAnimationIn 1.5s ease-in-out forwards;
}

@keyframes bodyCloseTagAnimationIn {
  from {
    opacity: 0;
    left: 400px;
  }
  to {
    opacity: 1;
  }
}

.bodyCloseTag.animateOut {
  animation: bodyCloseTagAnimationOut 1s ease-in-out forwards;
}

@keyframes bodyCloseTagAnimationOut {
  to {
    opacity: 0;
    left: 400px;
  }
}

@media screen and (max-width: 700px) {
  .text {
    font-size: 20px;
  }

  .imagePaul {
    min-width: 300px;
    min-height: 400px;
    width: 300px;
    height: 400px;
  }

  .headOpenTag {
    right: -100px;
    margin-top: 80px;
  }

  @keyframes headOpenTagAnimationIn {
    from {
      opacity: 0;
      right: 400px;
    }

    to {
      opacity: 1;
      right: -100px;
    }
  }

  .headCloseTag {
    left: -100px;
    margin-top: 80px;
  }

  @keyframes headCloseTagAnimationIn {
    from {
      opacity: 0;
      left: 400px;
    }
    to {
      opacity: 1;
      left: -100px;
    }
  }

  .bodyOpenTag {
    margin-top: 130px;
  }

  .bodyCloseTag {
    margin-top: 130px;
  }
}

@media screen and (max-width: 500px) {
  .text {
    font-size: 18px;
  }

  .imagePaul {
    min-width: 200px;
    min-height: 270px;
    width: 200px;
    height: 270px;
  }

  .headOpenTag {
    right: -60px;
    margin-top: 50px;
  }

  @keyframes headOpenTagAnimationIn {
    from {
      opacity: 0;
      right: 400px;
    }

    to {
      opacity: 1;
      right: -60px;
    }
  }

  .headCloseTag {
    left: -60px;
    margin-top: 50px;
  }

  @keyframes headCloseTagAnimationIn {
    from {
      opacity: 0;
      left: 400px;
    }
    to {
      opacity: 1;
      left: -60px;
    }
  }

  .bodyOpenTag {
    margin-top: 60px;
  }

  .bodyCloseTag {
    margin-top: 60px;
  }
}
