.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Gugi;
  font-size: 60px;
  margin: 0;
  color: #282c34;
}

.animatedTitle {
  margin: 0;
  color: #282c34;
  font-size: 60px;
  font-family: Gugi;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  border-right: 2px solid transparent; /* Simulate a cursor */
  white-space: pre;
}

.blinking {
  animation: blink 0.7s step-end infinite forwards;
}

@keyframes blink {
  50% {
    border-right-color: #282c34; /* Cursor blinks */
  }
  100% {
    border-right-color: #282c34; /* Make cursor invisible */
  }
}

.staticTitle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
