.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: scroll;
  padding: 20px;
  padding-bottom: 0;
}

.contentSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #d6d7d8;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.contentSideLeft {
  animation: fadeInLeft 1.5s ease-out forwards;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-400px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.contentSideLeft.animateOut {
  animation: fadeOutLeft 1s ease-out forwards;
}

@keyframes fadeOutLeft {
  to {
    opacity: 0;
    transform: translateX(-400px);
  }
}

.contentSideRight {
  animation: fadeInRight 1.5s ease-out forwards;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(400px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.contentSideRight.animateOut {
  animation: fadeOutRight 1s ease-out forwards;
}

@keyframes fadeOutRight {
  to {
    opacity: 0;
    transform: translateX(400px);
  }
}

.contentCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  padding-bottom: 0;
}

.text {
  font-family: "Gugi";
  font-size: 45px;
  color: #282c34;
  margin: 0;
  padding-bottom: 10px;
}

.imagePaul {
  min-width: 400px;
  min-height: 400px;
  animation: fadeInImage 1.5s ease-out forwards; /* Animate to visible */
}

@keyframes fadeInImage {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.imagePaul.animateOut {
  animation: fadeOutImage 1s ease-out forwards;
}

@keyframes fadeOutImage {
  to {
    opacity: 0;
    transform: translateY(200px);
  }
}
