.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: scroll;
  padding: 20px;
  padding-bottom: 0;
}

.contentSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #d6d7d8;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.contentCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  padding-bottom: 0;
}

.text {
  font-family: "Gugi";
  font-size: 45px;
  color: #282c34;
  margin: 0;
  padding-bottom: 10px;
}

.imagePaul {
  min-width: 400px;
  min-height: 400px;

  opacity: 0; /* Start invisible */
  transform: translateY(200px); /* Start slightly below */
  animation: fadeIn 1s ease-out forwards; /* Animate to visible */
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
